body{
    margin: 10px;    
    background-attachment: fixed;
    background-image: url(imgk/ostrov.jpg) no-repeat;
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Oswald', sans-serif;
    transition: 0.2s;
    
}
.kosta{
    margin: 0 auto;
}
.op{
    display: block;
    margin: 0 auto;
    width: 250px;
}
h1, h2{
    text-align: center;
}
.text{
    text-align: center;
}
h2{
    font-size: 60px;
}